@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --dark-cyan:hsl(158, 36%, 37%);
   --cream:hsl(30,38%,92%);
   --vary-dark-blue:hsl(212, 21%, 14%);
   --dark-grayish-blue:hsl(228, 12%, 48%);
   --white:#fff;
   --ff-fraunces: 'Fraunces', serif;
   --ff-montseraat:'Montserrat', sans-serif;


}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   max-width: 100%;
   background-color: var(--cream);
}

.container{
        display: flex;
        justify-content: center;
        margin-left: 25rem ;
        margin-right: 25rem;
       background-color:var(--white);
       border-radius: 1em;
}

.product-descrpition{
    margin: 2em;
  
}
#product-title{
    text-transform: uppercase;
    font-family: var(--ff-montseraat);
    font-weight: 400;
    font-size: 0.8em;
    color: var(--dark-grayish-blue);
    letter-spacing: 3px;
}

.product-main-text{
    font-size: 2.1em;
    padding-top: .5em ;
    font-family: var(--ff-fraunces);
    
}

.product-paragraph{
    font-size: .8em ;
    padding-top: 1.5em;
    font-family: var(--ff-montseraat);
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    word-spacing: 1px;
}

.price{
    display: flex;
    align-items: center;
    margin: 1.3rem;
    margin-left: 0;
}

.bold-price{
    font-family: var(--ff-fraunces);
    font-size: 1.8em;
    color: var(--dark-cyan);
    padding-right:.8em;
    /* margin: 1rem; */
    
}

.price del{
        color: var(--dark-grayish-blue);
        font-family: var(--ff-montseraat);
        font-size: .8em;
}

.btn{
     /* padding: .7rem 5rem; */
     width: 100%;
  padding: 0.7rem 2.2rem;
  margin: 0 .20rem;
  font-size: .8em;
  background-color: var(--dark-cyan);
  border-radius: .5em;
  border: #fff;
  font-family: var(--ff-montseraat);
  font-weight: 700;
  letter-spacing: 1px;
 
}

.btn a{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: var(--vary-dark-blue);
}
.btn a img{
    margin-right: 10px;
}

.img1{
    display: block;
    width: 300px;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
}

@media (max-width:580px) {

    body{
       margin: 2rem 5rem 2rem;
    }
    .container{
        margin: 2em;
       flex-direction: column;
       border-radius: 1.5em;
    }
    
    .img1{
      border-radius: 1.5em 1.5em 0 0;
      display: inline-block;
      width:450px;
      height:450px;
      object-fit: cover;
    }
    
        
        
}



